@model Cumulative3.Models.Teacher
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Teacher Information</h2>

@Model.TeacherFName @Model.TeacherLName

<form action="/Teacher/Update/@Model.TeacherId" method="POST">
    <div>
        <label>First Name:</label>
        <input type="text" value="@Model.TeacherFName" name="TeacherFName" id="firstName" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" value="@Model.TeacherLName" name="TeacherLName" id="lastName" />
    </div>
    <div>
        <label>Salary:</label>
        <input type="text" value="@Model.Salary" name="Salary" id="salary" />
    </div>
    <div>
        <input type="submit" value="Update Information"/>
    </div>
</form>


<script>
function validateForm() {
    var firstName = document.getElementById('firstName').value;
    var lastName = document.getElementById('lastName').value;
    var salary = document.getElementById('salary').value;

    if (firstName === '' || lastName === '' || salary === '') {
        alert('Please fill in all fields');
        return false;
    }

    return true;
}
</script>


