@model Cumulative3.Models.Class
@{
    ViewBag.Title = "Show";
}

<h2>@Model.ClassName</h2>
<p>Class Code: @Model.ClassCode</p>
<p>Teacher: @Model.TeacherId </p>
<p>Class Start Date: @Model.StartDate</p>
<p>Class End Date: @Model.FinishDate</p>

